---
apiVersion: v1
kind: Service
metadata:
  name: est-preview
  namespace: e-sketch
spec:
  selector:
    app: est-preview
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: http
  type: ClusterIP
