---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: est-back
  namespace: e-sketch
  labels:
    app: est-back
spec:
  revisionHistoryLimit: 2
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: est-back
  template:
    metadata:
      name: est-back
      labels:
        app: est-back
    spec:
      containers:
        - name: est-back
          image: ghcr.io/umu-art/est-back:master
          imagePullPolicy: Always

          env:
            - name: POSTGRES_USERNAME
              valueFrom:
                secretKeyRef:
                  name: databases-credentials
                  key: POSTGRES_USERNAME
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: databases-credentials
                  key: POSTGRES_PASSWORD
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: http://apm-server.elastic.svc.cluster.local:8200/v1/traces

          resources:
            requests:
              memory: "100M"
              cpu: "100m"
            limits:
              memory: "100M"
              cpu: "100m"

          ports:
            - name: http
              containerPort: 8080

#          readinessProbe:
#            httpGet:
#              path: /ping
#              port: 8080
#            initialDelaySeconds: 20
#            periodSeconds: 20
#
#          livenessProbe:
#            httpGet:
#              path: /ping
#              port: 8080
#            initialDelaySeconds: 20
#            periodSeconds: 20

      imagePullSecrets:
        - name: github-container-registry

      restartPolicy: Always
