---
apiVersion: v1
kind: Service
metadata:
  name: est-back
  namespace: e-sketch
spec:
  selector:
    app: est-back
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: http
  type: ClusterIP
