/* Variable collection */
$accent-color: #007AFF;
$accent-hover-color: #5CAAFF;
$accent-active-color: #0063CF;
$accent-border-color: #BFDDFF;
$success-color: #34C759;
$error-color: #FF3B30;
$hint-color: #747480;
$light-hint-color: #eeeeef;
$border-color: #d9d9d9;

/* Corner Sizes */
$corner-none: 0px;
$corner-extra-small: 4px;
$corner-small: 8px;
$corner-medium: 12px;
$corner-large: 16px;
$corner-extra-large: 28px;
$corner-full: 10000px;

/* Space Sizes */
$space-0: 0px;
$space-010: 1px;
$space-050: 2px;
$space-100: 4px;
$space-150: 6px;
$space-200: 8px;
$space-300: 12px;
$space-400: 16px;
$space-600: 24px;
$space-800: 32px;
$space-1200: 48px;
$space-1600: 64px;
$space-2400: 96px;
$space-4000: 160px;

/* Fonts */
$button-text-color: #FFFF;

/* Duration */
$duration-mid: 0.2s;

/* Shadow */
$default-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);