---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: est-proxy
  namespace: e-sketch
  labels:
    app: est-proxy
spec:
  revisionHistoryLimit: 2
  replicas: 1

  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: est-proxy
  template:
    metadata:
      name: est-proxy
      labels:
        app: est-proxy
    spec:
      containers:
        - name: est-proxy
          image: ghcr.io/umu-art/est-proxy:master
          imagePullPolicy: Always

          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            runAsUser: 1000
            runAsGroup: 1000

          env:
            - name: EST_BACK_URL
              value: http://est-back.e-sketch.svc.cluster.local
            - name: EST_PREVIEW_URL
              value: http://est-preview.e-sketch.svc.cluster.local

            - name: POSTGRES_USERNAME
              valueFrom:
                secretKeyRef:
                  name: databases-credentials
                  key: POSTGRES_USERNAME
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: databases-credentials
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_HOST
              value: 192.168.32.12
            - name: POSTGRES_PORT
              value: '5432'
            - name: POSTGRES_DATABASE
              valueFrom:
                secretKeyRef:
                  name: databases-credentials
                  key: POSTGRES_USERNAME

            - name: RABBITMQ_USERNAME
              valueFrom:
                secretKeyRef:
                  name: databases-credentials
                  key: RABBITMQ_USERNAME
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: databases-credentials
                  key: RABBITMQ_PASSWORD
            - name: RABBITMQ_HOST
              value: rabbitmq.rabbitmq.svc.cluster.local
            - name: RABBITMQ_PORT
              value: '5672'

            - name: GPT_API_PATH
              value: https://api.proxyapi.ru/openai/v1/chat/completions
            - name: GPT_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: e-sketch-secrets
                  key: GPT_API_TOKEN

            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: e-sketch-secrets
                  key: JWT_SECRET
            - name: ELASTIC_APM_SERVER_URL
              value: http://apm-server.elastic.svc.cluster.local:8200
            - name: ELASTIC_APM_SERVICE_NAME
              value: est-proxy
            - name: ELASTIC_APM_ENVIRONMENT
              value: est

            - name: SMTP_SERVER
              value: smtp.mail.ru
            - name: SMTP_PORT
              value: '587'
            - name: SMTP_EMAIL
              valueFrom:
                secretKeyRef:
                  name: e-sketch-secrets
                  key: SMTP_EMAIL
            - name: SMTP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: e-sketch-secrets
                  key: SMTP_PASSWORD
            - name: SMTP_DKIM_KEY_FILE
              value: /dkim.private

            - name: REDIS_URL
              value: redis-master.redis.svc.cluster.local:6379
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: databases-credentials
                  key: REDIS_PASSWORD
            - name: REDIS_DB
              value: '1'

          volumeMounts:
            - mountPath: /dkim.private
              name: e-sketch-dkim-cert
              subPath: dkim.private
              readOnly: true

          resources:
            requests:
              memory: "100M"
              cpu: "100m"
            limits:
              memory: "100M"
              cpu: "100m"

          readinessProbe:
            httpGet:
              path: /actuator
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 20

          livenessProbe:
            httpGet:
              path: /actuator
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 20

          ports:
            - name: http
              containerPort: 8080

      volumes:
        - name: e-sketch-dkim-cert
          secret:
            secretName: e-sketch-dkim-cert

      imagePullSecrets:
        - name: github-container-registry

      restartPolicy: Always
