---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: e-sketch-dkim-cert
  namespace: e-sketch
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: cluster-secret-store
    kind: ClusterSecretStore
  target:
    name: e-sketch-dkim-cert
  data:
    - secretKey: dkim.private
      remoteRef:
        key: e-sketch-secrets
        property: dkim.private
