---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: databases-credentials
  namespace: e-sketch
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: cluster-secret-store
    kind: ClusterSecretStore
  target:
    name: databases-credentials
  data:
    - secretKey: REDIS_PASSWORD
      remoteRef:
        key: e-sketch-secrets
        property: REDIS_PASSWORD

    - secretKey: RABBITMQ_USERNAME
      remoteRef:
        key: e-sketch-secrets
        property: RABBITMQ_USERNAME
    - secretKey: RABBITMQ_PASSWORD
      remoteRef:
        key: e-sketch-secrets
        property: RABBITMQ_PASSWORD

    - secretKey: POSTGRES_USERNAME
      remoteRef:
        key: e-sketch-secrets
        property: POSTGRES_USERNAME
    - secretKey: POSTGRES_PASSWORD
      remoteRef:
        key: e-sketch-secrets
        property: POSTGRES_PASSWORD

