body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота на весь экран */
    background-color: #f0f2f5; /* Светлый фон */
}